.metadata/
.idea/
.vscode/
*.iml
.settings/
.project
.classpath
target/
.gradle/
build/
upload/
doc/build/docker/dist/
bin/
node_modules/
dist/
tmp/
icon/
icon.error
yarn.lock
package-lock.json
src/test/*